$palette-red: #c24922;
$palette-red-light: #e7b6a7;

$palette-green: #93bf35;
$palette-green-light: #d4e5ae;

$palette-orange: #ef7a24;
$palette-orange-light: #f9Caa7;

$palette-blue: #2ba6cb;
$palette-blue-light: #aadbeb;

$palette-grey: #dedede;
$palette-grey-light: #f2f2f2;