<div class="large-6 columns text-body contentData">
    <span class="outage outage_{{outage}} hidden">
        <img class="text-icon" title="outage" alt="outage" src="img/outage_180x180.png"/>
    </span>
    {{~ defaultValue title "&nbsp;" safeString=true ~}}
</div>
<div class="large-6 columns text-detail contentData">
    {{~ defaultValue startTimeString "&nbsp;" safeString=true ~}}
</div>
<div class="large-6 columns text-detail contentData">
    {{~ defaultValue details "&nbsp;" safeString=true ~}}
</div>  
<div class="large-6 columns text-detail contentData">
    {{~ defaultValue troubleInfo "&nbsp;" safeString=true ~}}
</div>  