<p class="title text-subheader" data-section-title>
    <a class="section-button" href="#">
        <span class="conditions-loading">
            <span class="loading-text-label">{{conditionsLoadingMessage}}&nbsp;&nbsp;<img src="img/ajax-loader_new.gif" /></span>
        </span>
        <span class="conditions-title hidden">
            <span class="title-text-label">{{defaultTitleText}}</span>
            <span class="section-button-open">&#43;</span>
            <span class="section-button-close">&#45;</span>
        </span>
        <span class="conditions-error hidden">
            <span class="error-text-label">{{conditionsErrorMessage}}</span>
        </span>
    </a>
</p>
<div class="content collapse" data-section-content>
    <ul class="abnormal-conditions no-list-style"></ul>
</div>