<div class="row collapse primary-details">
    <div class="row loading ad-hoc-primary-details-loading">
        <div class="small-12 columns cico-message cico-default">
            <div class="message-title">
                <span class="text-detail">Getting ad-hoc info...</span>
                <img src="img/ajax-loader_new.gif" />
            </div>
        </div>
    </div>
    <div class="small-12 columms ad-hoc-primary-details hidden">        
        <div class="row">
            <div class="small-12 columns">
                <h1 class="text-headline ad-hoc-description">{{description}}</h1> 
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="station-distance-directions">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                &nbsp;
                <img class="text-icon text-icon-large telecom-text-icon" title="telecom station" alt="telecom station" src="img/telecom_180x180.png"/>
            </div>
        </div>
        <div class="row collapse">
            <div class="large-6 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="row collapse station-entry-check-out-view">
                            <div class="small-12 columns">
                                <a id="showCheckOutModalBtn" class="cico-button radius check-out" href="#">Check-out</a>
                            </div>
                        </div>
                        <div class="row collapse station-entry-extend-duration-view">
                            <div class="small-12 columns">
                                <div class="row collapse">
                                    <div class="small-12 columns">
                                        <span class="text-body">
                                            Expected Check-out time:
                                        </span>
                                        <span class="text-detail expected-check-out-time">calculate expected out time</span>
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="small-12 columns">
                                        <a id="showExtendDurationModalBtn" class="cico-button radius extend-duration" href="#">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-6 columns">
                <section>
                    <div class="row dcSection noc-dispatch-center">
                        <div class="large-2 columns">
                            <span class="text-subheader">NOC&nbsp;<i class="indicator fi-check"></i></span>
                        </div>
                        <div class="large-10 columns text-body">
                            <span class="dispatch-center"></span>&nbsp;
                            <span class="dispatch-phone clickablePhoneNumber text-link">get noc dispatch number from appConfig</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>