<div id="ad-hoc-check-in-modal-view" class="reveal-modal xlarge radius" data-reveal aria-labelledby="ad-hoc check-in modal view" aria-hidden="true" role="dialog">
    <h3>{{resource "adHocCheckInHeaderText"}}</h3>

    <div class="form-input">
        <label for="description" class="inline text-body">{{resource "descriptionHeaderText"}}</label>

        <input id="description" type="text" class="text-body" placeholder="{{resource 'locationPlaceholder'}}">
        <a id="clear-ad-hoc-description-button" href="#" class="hidden"><i class="fa {{resource 'clearIcon'}}"></i></a>
    </div>

    <div class="form-button">
        <a id="cancel-check-in-button" class="button secondary radius">{{resource "cancelButtonText"}}</a>
        <a id="submit-check-in-button" class="button success radius">{{resource "checkInButtonText"}}</a>
    </div>
</div>
