<div id="stationEntryForm">

    {{! Loading messages }}
    <div id="loading-dialog" class="cico-dialog">

        <div class="alert-title process">
            <div id="loadingStationData" class="loading-msg">Checking station data.</div>
            <div id="loadingStationDistance" class="loading-msg">Verifying your distance from the station.</div>
        </div>
        <div style="text-align: center;">
            <div>    
                <p><img src="img/ajax-loader_new.gif" align="center" /></p>
            </div>
        </div>

    </div>

    {{! Dialog Container.  Used to hide dialogs until done loading }}
    <div id="stationEntry-dialogs" class="hidden">


        {{! Distance Dialog }}
        <div id="distance-dialog" class="hidden">
            <div class="cico-dialog">

                <div id="distanceWarning">
                    <div>
                        <div class="alert-title warning">
                            <!-- Your content goes here -->
                            <div>Warning!</div>
                        </div>
                        <div class="alert-message">
                            {{ stationModel.stationName }} station is <span class="distanceWarningDistance"></span> miles from your current position.                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="modalButtons buttons-2">
                <a id="distanceWarningNo" class="alert-button cancelModal left">Cancel</a>
                <a id="distanceWarningYes" class="alert-button extend right">Continue</a>
            </div>
        </div>


        {{! Hazard Dialog }}
        <div id="hazard-dialog" class="hidden">
            <div class="cico-dialog">
                <div class="alert-title hazard">
                    <!-- Your content goes here -->
                    <div>Hazard!</div>
                </div>

                <div id="hazardWarning" class="checkInMessageBox">
                    <p class="text-detail cico-message cico-error">
                        You must call to check in.
                    </p>
                    {{> templates_partial_DispatchCenterPartial }}
                </div>
            </div>
            <div class="modalButtons buttons-1">
                <a id="hazardWarningOk" class="alert-button cancelModal left">Ok</a>
            </div>
        </div>

        {{! Warnings Dialog }}
        <div id="station-warnings-dialog" class="hidden">
            <div class="cico-dialog">
                <div class="alert-title warning">
                    <!-- Your content goes here -->
                    <div>Warnings!</div>
                </div>
                <div class="alert-message">
                    <ul id="station-warnings-list">
                    </ul>
                </div>
            </div>
            <div class="modalButtons buttons-2">
                <a id="stationWarningsNo" class="alert-button cancelModal left">Cancel</a>
                <a id="stationWarningsContinue" class="alert-button extend right">Continue</a>
            </div>
        </div>

        {{! Check In Dialog }}
        <div id="checkIn-dialog" class="hidden">

            {{! Check-in and hazard and restricted facility container }}
            <div id="checkInModal" class="cico-dialog">

                {{! The actual check-in form }}
                <div id="checkInForm">
                    <div class="checkInContainer">
                        <div>
                            <div class="stationName">
                                <span class="alert-title">{{stationModel.stationName}}</span><br/>
                                <span class="stationDistance text-detail">
                                    <span class="currentLocationLoading"><img src="img/ajax-loader_new.gif" />&nbsp;<span class='loading-msg'>calculating <i class="gen-enclosed fi-marker"></i></span></span>
                                    <span class="currentLocationSuccess"><i class="gen-enclosed fi-marker"></i> <span class="distanceWarningDistance"></span> miles away</span>
                                    <span class="currentLocationError"></span>
                                </span>
                            </div>

                        </div>

                        <div class="row cico-message cico-info">
                            <div class="small-3 columns">
                                <label for="contactNumber" class="inline text-body" >Contact</label>
                            </div>

                            <div class="small-9 columns input-column">
                                <input id="contactNumber" pattern="\(\d{3}\) \d{3}-\d{4}" type="tel" class="text-body" value="{{ appDataModel.contactNumberFixed }}" required="" placeholder="enter a phone number" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalization="off">
                                <a id="clearManualSearchBtn" href="#" class="hidden">
                                    <i class="fi-x"></i>
                                </a>
                            </div>
                        </div>

                        <div class="row cico-message cico-info cico-error">
                            <div class="small-3 columns">
                                <label for="selectPurpose" class="inline text-body" >Purpose</label>
                            </div>

                            <div class="small-9 columns input-column" >
                                <select id="selectPurpose" class="medium text-body" >
                                    <option disabled="disabled" selected="selected" class="disstyleableMe">Select Your Purpose</option>
                                    {{#ifCond stationModel.stationType "TC"}}
                                    {{~#each appDataModel.nocPurposes}}
                                    <option value="{{itemAdditionalData}}">{{itemText}}</option>
                                    {{~/each}}
                                    {{else}}
                                    {{~#each appDataModel.dolPurposes}}
                                    <option value="{{itemAdditionalData}}">{{itemText}}</option>
                                    {{~/each}}
                                    <option>Other</option>
                                    {{/ifCond}}
                                </select>
                            </div>
                        </div>

                        <div class="row cico-message cico-info cico-error hidden">
                            <div class="small-12 columns">
                                <textarea class="text-body" id="otherPurpose" placeholder="Other Purpose" ></textarea>
                            </div>
                        </div>

                        <div class="row cico-message cico-info cico-error">
                            <div class="small-3 columns">
                                <label for="duration" class="inline text-body">Duration</label>
                            </div>

                            <div class="small-9 columns input-column">
                                <select id="duration" class="text-body" >
                                    <option disabled="disabled" selected="selected" class="disableMe">Select Duration</option>
                                    {{#ifCond stationModel.stationType "TC"}}
                                    {{~#each appDataModel.nocDurations}}
                                    <option value="{{itemValue}}">{{itemText}}</option>
                                    {{~/each}}
                                    {{else}}
                                    {{~#each appDataModel.dolDurations}}
                                    <option value="{{itemValue}}">{{itemText}}</option>
                                    {{~/each}}
                                    {{/ifCond}}
                                </select>
                            </div>
                        </div>

                        <div id="has-crew-row" class="row cico-message cico-default">
                            <div class="small-6 columns">
                                <label for="hasCrew" class="text-body">With Crew?</label>
                            </div>

                            <div class="small-3 columns input-column">
                                <input id="yesHasCrew" name="switch-HasCrew" value="true" type="radio" class="text-body" >
                                <label for="yesHasCrew" onclick="" class="css-label yesHasCrew text-body">Yes</label>
                            </div>

                            <div class="small-3 columns input-column">
                                <input id="noHasCrew" name="switch-HasCrew" value="false" type="radio" class="text-body" checked="">
                                <label for="noHasCrew" onclick="" class="css-label noHasCrew text-body">No</label>
                            </div>
                        </div>

                        <div id="dispatchCenterId" class="row cico-message cico-default cico-error">
                            <div class="small-6 columns">
                                <label for="dispatchCenter" class="text-body">Dispatch Desk</label>
                            </div>

                            <div class="small-3 columns input-column">
                                <input name="dispatchCenterId" type="radio" id="tdcRadio" class="text-body" >
                                <label for="tdcRadio" id="tdcRadioLbl" class="text-body tdcRadio">TDC</label>
                            </div>

                            <div class="small-3 columns input-column">
                                <input name="dispatchCenterId" type="radio" id="ddcRadio" class="text-body" >
                                <label for="ddcRadio" id="ddcRadioLbl" class="text-body ddcRadio">DDC</label>
                            </div>

                        </div>
                        <div class="row cico-message cico-info">
                            <div class="small-12 columns">
                                <textarea class="text-body" id="additionalInfo" placeholder="Additional Info" ></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modalButtons">
                <a id="checkInBtnCancel" class="alert-button cancelModal">Cancel</a>
                <a id="checkInBtn" class="alert-button disabled" href="#">Check-In</a>
            </div>
        </div>

    </div>
</div>