<div id="confirmation-modal-view" class="reveal-modal xlarge" data-reveal aria-labelledby="confirmation modal view" aria-hidden="true" role="dialog">
    <div class="card-wrap">

        <div class="card {{cid}}-progress">
            <span class="loading-message">{{resource "confirmationLoadingMessageText"}}</span>
            <img class="loading-image" src="{{resource 'progressImageSrc'}}" alt="{{resource 'progressImageAlt'}}"/>
        </div>

        <div class="card hidden {{cid}}-error">
            <span class="error-message">{{resource "confirmationErrorMessageText"}}</span>

            <div class="form-buttons">
                <a id="close-error-button" class="button radius">{{resource "okButtonText"}}</a>
            </div>
        </div>

        <div class="card hidden {{cid}}-loading">
            <h3 id="confirmation-header-label"></h3>

            <p id="confirmation-message"></p>

            <div class="form-button">
                <a class="ok-modal-button button radius" href="#" tabindex="0">{{resource "okButtonText"}}</a>
            </div>
        </div>

    </div>
</div>