<p class="title text-subheader">
    <span class="station-warnings-loading">
        <span class="loading-text-label">{{stationWarningsLoadingMessage}}&nbsp;&nbsp;<img src="img/ajax-loader_new.gif" /></span>
    </span>
    <span class="station-warnings-title hidden">
        <span class="title-text-label">{{defaultTitleText}}</span>
    </span>
    <span class="station-warnings-error hidden">
        <span class="error-text-label">{{stationWarningsErrorMessage}}</span>
    </span>
</p>
<div class="content collapse">
    <ul class="station-warnings no-list-style"></ul>
</div>