<div class="footer-view">
    <footer>
        <a id="app-logo-button" href="#" tabindex="0">{{resource "appTitleText"}}</a>
        <ul class="nav inline-list right">
            <li>
                <a id="open-help-button" href="#" tabindex="0">{{resource "helpButtonText"}}</a>
            </li>
            <li>
                <a id="contact-support-button" href="#" tabindex="0">{{resource "contactButtonText"}}</a>
            </li>
            <li>
                <a id="logout-button" href="#" tabindex="0">{{resource "logoutButtonText"}}</a>
            </li>
        </ul>
    </footer>
</div>