<div class="footer-view">
    <footer>
        <span class="app-logo-container">
            <img class="" src="{{resource 'appLogoImageSrc'}}" alt="{{resource 'appLogoImageAlt'}}"/>
        </span>
        <ul class="inline-list">
            <li>
                <a id="open-help-button" href="#" tabindex="0">{{resource "helpButtonText"}}</a>
            </li>
            <li>
                <a id="contact-support-button" href="#" tabindex="0">{{resource "contactButtonText"}}</a>
            </li>
            <li>
                <a id="logout-button" href="#" tabindex="0">{{resource "logoutButtonText"}}</a>
            </li>
        </ul>
    </footer>
</div>