<div class="login panel radius" data-options="closeOnBackgroundClick: false;">
    <div class="row">
        <div class="large-12 columns">
            <ul class="pricing-table">
                <li class="bullet-item">
                    <div class="row">
                        <div class="large-12 columns">
                            <input id="user" type="text" name="user"  placeholder="User Id" size="30">                                            
                        </div>
                        <div class="large-12 columns">
                            <input id="password" type="password" name="password" placeholder="Password" size="30">                                            
                        </div>                                        
                    </div>                                    
                </li>
                <li class="cta-button"><a id="btnLogIn" class="button success radius">Login</a></li>
            </ul>
        </div>
    </div>
</div>