<div class="station-tile-view tile">

    <div class="tile-action">
        <ul class="inline-list">
            <li>
                <a class="go-to-station-button" href="#" tabindex="0"><i class="fa {{resource 'infoIcon'}}"></i></a>
            </li>
        </ul>
    </div>

    <div class="tile-inner">
        <span class="station-name-label"></span>
        <i class="fa {{resource 'hazardIcon'}} hazard-icon"></i>
        <i class="fa {{resource 'warningIcon'}} warning-icon"></i>
        <i class="fa {{resource 'abnormalConditionIcon'}} abnormal-condition-icon"></i>
        <i class="fa {{resource 'openCheckInIcon'}} open-check-in-icon"></i>
    </div>

    <div class="tile-sub">
        <span class="distance-label"></span>&nbsp;|&nbsp;<a class="go-to-directions-button" href="#" tabindex="0">{{resource 'directionsButtonText'}}<i class="fa {{resource 'directionsIcon'}}"></i></a>
    </div>
</div>