<div class="row collapse">
    <div class="small-12 columns">
        <h1 class="text-headline">Find Personnel</h1>
    </div>
</div>
<div class="row collapse">
    <div class="small-12 columns">
        <ul class="cico-button-group radius even-2">
            <li>
                <a id="gpsSearchBtn" class="small cico-button" href="#">Nearby</a>
            </li>
            <li>
                <a id="manualSearchBtn" class="small cico-button cico-default" href="#">Manual</a>
            </li>
        </ul>
    </div>
</div>
<div class="row collapse manual-search-form hidden">
    <div class="small-12 columns">
        <input id="manualSearchInput" type="search" class="search-query personnel-search-query" placeholder="{{manualSearchWatermark}}" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalization="off">
        <a id="clearManualSearchBtn" href="#" class="hidden">
            <i class="fi-x"></i>
        </a>
    </div>
</div>
<div class="row collapse">
    <div class="small-12 columns">
        <div class="loading search-view-loading hidden">
            <span class="text-detail">{{loadingMessage}}</span>
            <img src="img/ajax-loader_new.gif" />
        </div>
        <div class="error search-view-error hidden">
            <span class="text-detail">{{errorMessage}}</span>
        </div>
        <div class="info search-view-info hidden">
            <span class="text-detail">{{infoMessage}}</span>
        </div>
    </div>
</div>
<div class="row collapse">
    <div class="small-12 columns">
        <ul class="search-list personnel-search-list manual-personnel-search-list"></ul>
        <ul class="search-list personnel-search-list gps-personnel-search-list"></ul>
    </div>
</div>