<div class="station-tile-view tile active">

    <div class="tile-action">
        <a class="go-to-station-button" href="#" tabindex="0"><i class="fa {{resource 'infoIcon'}}"></i></a>
    </div>

    <div class="tile-inner">
        <span>
            <span class="station-name-label tile-title"></span>
            <i class="fa {{resource 'hazardIcon'}} hazard-icon"></i>
            <i class="fa {{resource 'warningIcon'}} warning-icon"></i>
            <i class="fa {{resource 'abnormalConditionIcon'}} abnormal-condition-icon"></i>
            <i class="fa {{resource 'openCheckInIcon'}} open-check-in-icon"></i>
        </span>
        <p>
            <span class="distance-label"></span>&nbsp;|&nbsp;<a class="go-to-directions-button" href="#" tabindex="0"><i class="fa {{resource 'directionsIcon'}}"></i>{{resource 'directionsButtonText'}}</a>
        </p>
    </div>
</div>