<p class="title text-subheader" data-section-title>
    <a class="section-button" href="#">
        <span class="entries-loading">
            <span class="loading-text-label">{{{entriesLoadingMessage}}}&nbsp;&nbsp;<img src="img/ajax-loader_new.gif" /></span>
        </span>
        <span class="entries-title hidden">
            <span class="title-text-label">{{{defaultEntriesTitleText}}}</span>
            <span class="section-button-open">&#43;</span>
            <span class="section-button-close">&#45;</span>
        </span>
        <span class="entries-error hidden">
            <span class="error-text-label">{{{entriesErrorMessage}}}</span>
        </span>
    </a>
</p>
<div class="content collapse" data-section-content>
    <ul class="station-entries no-list-style"></ul>
</div>