<div class="row collapse">
    <div class="small-12 columns">
        <h1 class="text-headline">Find a Station</h1>
    </div>
</div>

<div class="row collapse">  
    <div class="small-12 columns">
        <ul class="cico-button-group radius even-3">            
            <li>
                <a id="gpsSearchBtn" class="cico-button small" href="#">GPS</a>
            </li>
            <li>
                <a id="manualSearchBtn" class="cico-button small cico-default" href="#">Manual</a>
            </li>
            <li>
                <a id="recentSearchBtn" class="cico-button small cico-default" href="#">Recent</a>
            </li>
        </ul>
    </div>
</div>
<div id="filter-station" class="row collapse hidden">
    <div class="small-4 columns">
        <label for="filterStationByType" class="text-body">Include:</label>
    </div>

    <div class="small-4 columns input-column">
        <input id="filterTDStations" name="filter-td-station" type="checkbox" class="text-body" >
        <label for="filterTDStations" onclick="" class="css-label text-body checkbox-label">T&D</label>
    </div>

    <div class="small-4 columns input-column">
        <input id="filterTComStations" name="filter-tcom-station" type="checkbox" class="text-body">
        <label for="filterTComStations" onclick="" class="css-label text-body checkbox-label">TCOM</label>
    </div>
</div>
<div class="row collapse manual-search-form hidden">
    <div class="small-12 columns">
        <input id="manualSearchInput" type="search" class="search-query station-search-query" placeholder="{{manualSearchWatermark}}" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalization="off">
        <a id="clearManualSearchBtn" href="#" class="hidden">
            <i class="fi-x"></i>
        </a>
    </div>
</div>
<div class="row collapse">
    <div class="small-12 columns">
        <div class="loading search-view-loading hidden">
            <span class="text-detail">{{loadingMessage}}</span>
            <img src="img/ajax-loader_new.gif" />
        </div>
        <div class="error search-view-error hidden">
            <span class="text-detail">{{errorMessage}}</span>
        </div>
        <div class="info search-view-info hidden">
            <span class="text-detail">{{infoMessage}}</span>
        </div>
    </div>
</div>
<div id="ad-hoc-btn-container" class="row collapse hidden">
    <div class="small-12 columns">
        <a id="showAdHocCheckInModalBtn" class="cico-button radius check-in" href="#">Ad-hoc Check-in</a>
    </div>
</div>
<div id="open-ad-hoc-btn-container" class="row collapse station-entry-already-checked-in-view ">
    <div class="small-12 columns">
        <a id="goToOpenCheckInBtn" class="cico-button radius cico-default" href="#">Open Check-in</a>
    </div>
</div>
<div class="row collapse">
    <div class="small-12 columns">
        <ul class="search-list station-search-list"></ul>
    </div>
</div>