<div class="station-collection-view">
    <div class="station-collection-loading-image-container hidden">
        <span class="loading-message">{{resource "stationCollectionLoadingMessageText"}}</span>
        <img class="loading-image" src="{{resource 'loadingImageSrc'}}" alt="{{resource 'loadingImageAlt'}}" />
    </div>
    <div class="station-collection-message-container hidden">
        <span class="station-collection-message-label"></span>
    </div>
    <div class="tile-wrap"></div>
</div>