<div class="station-entry-log-tile-view">
    <div class="tile">

        <div class="tile-inner">
            <a class="go-to-personnel-button" href="#" tabindex="0"></a>
            <a class="go-to-station-button" href="#" tabindex="0"></a>
            <i class="fa {{resource 'withCrewIcon'}} with-crew-icon"></i>
        </div>

        <div class="tile-inner">
            <span class="purpose-label"></span>
        </div>

        <div class="tile-inner">
            <span class="in-time-label"></span>
            <span class="in-time-out-time-separator hidden">{{resource "inTimeOutTimeSeparator"}}</span>
            <span class="out-time-label"></span>
        </div>

        <div class="tile-inner">
            <span class="additional-info-label"></span>
        </div>
    </div>
</div>