<p class="title text-subheader" data-section-title>
    <a class="section-button" href="#">
        <span class="station-warnings-loading">
            <span class="loading-text-label">{{stationWarningsLoadingMessage}}&nbsp;&nbsp;<img src="img/ajax-loader_new.gif" /></span>
        </span>
        <span class="station-warnings-title hidden">
            <span class="title-text-label">{{defaultTitleText}}</span>
            <span class="section-button-open">&#43;</span>
            <span class="section-button-close">&#45;</span>
        </span>
        <span class="station-warnings-error hidden">
            <span class="error-text-label">{{stationWarningsErrorMessage}}</span>
        </span>
    </a>
</p>
<div class="content collapse" data-section-content>
    <ul class="station-warnings no-list-style"></ul>
</div>