<div class="row title-bar-row">
    <div class="small-2 columns no-padding">
        <div id="leftMenuView"></div>
    </div>
    <div id="titleMenuView" class="small-8 columns no-padding">
        <nav class="top-bar center">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="<%= href %>"><%= title %></a></h1>
                </li>
            </ul>
        </nav>
    </div>
    <div class="small-2 columns no-padding">
        <div id="rightMenuView"></div>
    </div>
</div>