<div class="warning-collection-view">
    <div class="panel panel-collapse active">
        <div data-target="#panel-collapse-{{cid}}" data-toggle="panel">
            <div class="right">
                <i class="fa {{resource 'toggleShowIcon'}} toggle-show"></i>
                <i class="fa {{resource 'toggleHideIcon'}} toggle-hide"></i>
            </div>
            <div class="hidden {{cid}}-progress">
                <span class="progress-message">{{resource "warningCollectionLoadingMessageText"}}</span>
                <img class="progress-image" src="{{resource 'progressImageSrc'}}" alt="{{resource 'progressImageAlt'}}"/>
            </div>
            <div class="hidden {{cid}}-error">
                <span class="error-message">{{resource "warningCollectionErrorMessageText"}}</span>
            </div>
            <div class="hidden {{cid}}-info">
                <span class="info-message"></span>
            </div>
        </div>
        <div id="panel-collapse-{{cid}}" class="panel-active-show collapse in">
            <div class="tile-wrap {{cid}}-loading"></div>
        </div>
    </div>
</div>