
#hazard-dialog .dispatch-center i,
#hazard-dialog .socSection{
    display:none!important;
}
 
#hazard-dialog .station-dispatch-center{
    display: block;
}

#distance-dialog,
#hazard-dialog #hazardWarning{
    text-align:center;
    line-height: 1.25em;
}

#checkIn-dialog {
    margin-bottom: 0px;
}

#checkIn-dialog .label.secondary{
    line-height: 1.15em;
    display:block;
    text-align: left;
    background-color:#d9d9d9;
    white-space:normal;
}

#checkIn-dialog .cico-message{
    padding: 0px 8px;
}

#checkIn-dialog label{
    padding: 0.625em 0;
}

#checkIn-dialog .input-column{
    display: inline-block;
    line-height: 2.5em;
}

#checkIn-dialog .stationName{
    text-align:center;
    margin-bottom: 10px;
}

#checkIn-dialog .cico-message:last-child{
    margin-bottom:0px;
}

#checkIn-dialog #dispatchCenterId[data-dispatchcenter="tdcRadio"] #tdcRadioLbl,
#checkIn-dialog #dispatchCenterId[data-dispatchcenter="ddcRadio"] #ddcRadioLbl,
#checkIn-dialog #has-crew-row .noHasCrew,
#checkIn-dialog #has-crew-row.hasCrew .yesHasCrew{
    background-position:0px -15px;
}

#checkIn-dialog #dispatchCenterId[data-dispatchcenter="ddcRadio"] #tdcRadioLbl,
#checkIn-dialog #dispatchCenterId[data-dispatchcenter="tdcRadio"] #ddcRadioLbl,
#checkIn-dialog #has-crew-row.hasCrew .noHasCrew,
#checkIn-dialog #has-crew-row .yesHasCrew{
    background-position:0px 0px;
}

#checkIn-dialog .currentLocationError{
    color:#c60f13;
    font-style:italic;
}

#checkIn-dialog .stationDistance.hasDistanceWarning{
    color:#CA502B; 
}

#loading-dialog .loading-msg{
    margin-bottom:20px;
}

.cico-dialog li{
    padding:none;
    list-style: none;
}

label{
    font-size:inherit!important;
    margin-bottom:0.5em;
}

#checkIn-dialog label {
    margin:0;
    line-height:inherit;
    display:inline-block;
    color: $color-secondary;
}
#checkIn-dialog .row .text-body {
    line-height: initial;
}
#checkIn-dialog div.columns {
    padding-left:0;
    padding-right:0;
}
#checkIn-dialog div.columns.align-middle {
    display:table-cell;
    vertical-align:middle;
    float:none; 
}


#checkInForm div.row {
    border-radius: default-corner-radius;
    -webkit-border-radius: default-corner-radius;
    -moz-border-radius: default-corner-radius;
}

#checkIn-dialog input[type=tel],
#description,
#checkIn-dialog textarea,
#checkIn-dialog select {
    background-color:transparent;
    border-style:none;
    box-shadow:none;
    margin-bottom: 0;
    display:inline-block;
    padding:0;
}

#checkIn-dialog textarea{
    margin:8px 0px;
}


#checkIn-dialog div:not(#foo) > input[type=radio] {
    padding: 0;
    margin: 0;
    height: 15px;
    width: 16px;
    float: left;
    position: absolute;
    left: 0;
    opacity: 0;
}

#checkIn-dialog div:not(#foo) > input + label {
    background: url(../img/lite-green-check.png) 0 0 no-repeat;
    height: 15px;
    padding: 0 0 0 18px;
    display: inline-block;
    color: black;
}

#extend-duration-dialog {
    margin-bottom: 0px;
}

#extend-duration-dialog .label.secondary{
    line-height: 1.15em;
    display:block;
    text-align: left;
    background-color:#d9d9d9;
    white-space:normal;
}

#extend-duration-dialog .cico-message{
    padding: 0px 8px;
}

#extend-duration-dialog label{
    padding: 0.625em 0;
}

#extend-duration-dialog .input-column{
    display: inline-block;
    line-height: 2.5em;
}

#extend-duration-dialog .cico-message:last-child{
    margin-bottom:0px;
}

#extend-duration-dialog label {
    margin:0;
    line-height:inherit;
    display:inline-block;
    color: $color-secondary;
}
#extend-duration-dialog .row .text-body {
    line-height: initial;
}
#extend-duration-dialog div.columns {
    padding-left:0;
    padding-right:0;
}
#extend-duration-dialog div.columns.align-middle {
    display:table-cell;
    vertical-align:middle;
    float:none; 
}


#extend-durationForm div.row {
    border-radius: default-corner-radius;
    -webkit-border-radius: default-corner-radius;
    -moz-border-radius: default-corner-radius;
}

#extend-duration-dialog input[type=tel],
#extend-duration-dialog textarea,
#extend-duration-dialog select {
    background-color:transparent;
    border-style:none;
    box-shadow:none;
    margin-bottom: 0;
    display:inline-block;
    padding:0;
}

#extend-duration-dialog textarea{
    margin:8px 0px;
}


#check-out-dialog {
    margin-bottom: 0px;
}

#check-out-dialog .label.secondary{
    line-height: 1.15em;
    display:block;
    text-align: left;
    background-color:#d9d9d9;
    white-space:normal;
}

#check-out-dialog .cico-message{
    padding: 0px 8px;
}

#check-out-dialog label{
    padding: 0.625em 0;
}

#check-out-dialog .input-column{
    display: inline-block;
    line-height: 2.5em;
}

#check-out-dialog .cico-message:last-child{
    margin-bottom:0px;
}

#check-out-dialog label {
    margin:0;
    line-height:inherit;
    display:inline-block;
    color: $color-secondary;
}
#check-out-dialog .row .text-body {
    line-height: initial;
}
#check-out-dialog div.columns {
    padding-left:0;
    padding-right:0;
}
#check-out-dialog div.columns.align-middle {
    display:table-cell;
    vertical-align:middle;
    float:none; 
}


#checkOutForm div.row {
    border-radius: default-corner-radius;
    -webkit-border-radius: default-corner-radius;
    -moz-border-radius: default-corner-radius;
}

#check-out-dialog input[type=tel],
#check-out-dialog textarea,
#check-out-dialog select {
    background-color:transparent;
    border-style:none;
    box-shadow:none;
    margin-bottom: 0;
    display:inline-block;
    padding:0;
}

#check-out-dialog textarea{
    margin:8px 0px;
}