//@import "cico.globals";



div.modal {
    overflow:hidden;
    background-color: #fff;
    -webkit-box-shadow: $modal-shadow;
    -moz-box-shadow: $modal-shadow;
    box-shadow: $modal-shadow;
    -webkit-border-radius: $dialog-corner-radius;
    -moz-border-radius: $dialog-corner-radius;
    border-radius: $dialog-corner-radius;
    border-style: solid;
    border-width: 1px;
    border-color: $color-secondary;
}
@media only screen and (max-width: 390px) {
    #modalContainer{
        left:0px!important;
        width:100%;
    }
    #stationData .contentData{
        margin-left:20px;
    }
}

#modalContainer{
    padding-left: 0.4375em;
    padding-right: 0.4375em;
}
#modalCloseButton{
    top: 5px!important;
    right: 20px!important;
}

#modalContainer .panel {
    margin-bottom: 0px;
}

.modalButtons {
    display:table;
    width:100%;
    height:60px;
    position: static;
    bottom: 2px;
    border-top:1px solid $color-secondary;
    z-index:1000000;
}


.modalButtons > a{
    display:table-cell;
    width:50%;
    position:relative;
    height:60px;
    line-height: 60px;
    float:left;
    text-align:center;
    vertical-align: middle;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    background-color: white;
    border-right: none;
    border-left: 1px solid $color-secondary;
    text-decoration: none;
}

.modalButtons > a:first-child {
    border-left: none;
}

.modalButtons.buttons-1 > a {
    width: 100%!important;
}

.modalButtons.buttons-2 > a.left {
}

.modalButtons.buttons-2 > a.right {
}

.modalButtons > a:hover{
    background-color: #DEDEDE!important;
    color:#000000;
}

.modalButtons > a.disabled,
.modalButtons > a.disabled:hover{
    background-color: #EEEEEE!important;
    color: #999999 !important;
    cursor: default!important;
}
