// Cico globals
//@import "cico.globals";

/*---------------------------------------------------------------------------*/
/* text                                                                     */
/*---------------------------------------------------------------------------*/
.text-headline { 
    font-size: 2.3em;
    margin: 0.25em 0px;
    font-family: $default-font-family; 
    font-weight: bold;
    color: #000000;
}
.text-subheader {
    font-size: 1.5em;
    font-family: $default-font-family;
    font-weight: bold;
    color: #000000;
}

.text-subheader .text-link{font-size:inherit!important;}

/* overriding font size for the various input types */
input[type="text"].text-body, 
input[type="password"].text-body, 
input[type="date"].text-body, 
input[type="datetime"].text-body, 
input[type="datetime-local"].text-body, 
input[type="month"].text-body, 
input[type="week"].text-body, 
input[type="email"].text-body, 
input[type="number"].text-body, 
input[type="search"].text-body, 
input[type="tel"].text-body, 
input[type="time"].text-body, 
input[type="url"].text-body, 
textarea.text-body,
.text-body {
    font-size: 1.2em;
    font-family: $default-font-family;
    font-weight: normal;
    color: #000000;
}
.text-detail {
    font-size: 1em;
    font-family: $default-font-family;
    font-weight: normal;
    font-style: italic;
    color: #000000;
}

.warning .text-detail {
    color: #F5BC08 !important;
}
.error .text-detail {
    color: #C22222 !important;
}
.success .text-detail {
    color: #388E3A;
}
.process .text-detail {
    color: #2BA6CB;    
}
.disabled .text-detail {
    color: #999999 !important;
}

.text-link, .text-link:visited, .text-link:hover {
    font-size: inherit;
    font-family: $default-font-family;
    font-weight: normal;
}
a{
    font-size: inherit;
}
a, a:active, a:focus {
outline: none;
}
.text-icon {
    width: 25px;
    margin-bottom: 10px;
}

.text-icon-large {
    width: 50px;
    margin: 10px 0;
}
/*---------------------------------------------------------------------------*/
/* title bar                                                                 */
/*---------------------------------------------------------------------------*/
#titleBarView {
    background-color: #DEDEDE;
}

.title-bar {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
}

.title-bar a {
    font-size: 1.2em;
    font-family: $default-font-family;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

.title-bar .brand-name {
}

.title-bar .brand-name .menu-button {
}

.title-bar .menu-views {
}

.title-bar .menu-views .menu-view {
    float: right;
    display: inline;
    width: 38px;
}

.title-bar .menu-views .menu-view .menu-button {
}

.title-bar .menu-views .menu-view .menu-button .menu-button-image {
    width: 38px;
    margin-bottom: 5px;
}
/*---------------------------------------------------------------------------*/
/* alerts & dialogs                                                                     */
/*---------------------------------------------------------------------------*/
.cico-dialog {
    font-family: $default-font-family;
    min-width: 300px;
    padding: 16px;
    position: relative;
    font-size:0.9em;
    line-height: 1em;
}

.cico-dialog-large {
    font-family: $default-font-family;
    min-width: 350px;
    @media (max-width: 430px) {
        min-width: 300px;
    }
    padding: 16px;
    position: relative;
    font-size:0.9em;
    line-height: 1em;
}

.alert-background {
    border-radius: 14px 14px 0px 0px;
    -webkit-border-radius: 14px 14px 0px 0px;
    -moz-border-radius: 14px 14px 0px 0px;
}

.button-background {
    padding: 0px;
    height: 60px;
    overflow:hidden;
    bottom: 0px;
    position: absolute;
    background-color: transparent;
    border-radius: 0px 14px;
    -webkit-border-radius: 0px 14px;
    -moz-border-radius: 0px 14px;
    border: none;
    border-top: 1px solid $color-secondary;
}
.alert-title {
    font-size: 2.3em;
    line-height: 1.15em;
    font-family: $default-font-family;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}
.alert-title.success {
    color: #388E3A;
}
.alert-title.error {
    color: #C22222;
}
.alert-title.warning {
    color: #F5BC08;
}
.alert-title.process {
    color: #2BA6CB;    
}
.alert-title.hazard {
    color: $color-hazard;
}
.alert-title.restricted {
    color: $color-restricted;
}

.alert-message {
    font-size: 2em;
    line-height: 1.05em;
    font-family: $default-font-family;
    font-weight: normal;
    text-align: center; 
    color: #000000;
}
.alert-button {
    font-size: 2em;
    font-family: $default-font-family;
    font-weight: normal;
    text-align: center;
    color: #000000;
}
.cico-message{
    padding: 8px;
    border-radius: $default-corner-radius;
    border: 1px solid #EF7A24;
}
.cico-error{
    border-color: #C22222!important;
    margin-bottom: 10px;
}
.cico-info{
    border-color: #CCCCCC;
    margin-bottom: 10px;
}
.cico-default{
    border-color: #FFFFFF;
    margin-bottom: 10px;
}

/*---------------------------------------------------------------------------*/
/* search-view                                                         */
/*---------------------------------------------------------------------------*/
.search-view {
    background: #F2F2F2;
    padding: 15px;
}
.search-view .checkbox-label {
    display: inline;
}
.search-view .search-list {
    list-style: none;
}
.search-view .search-list .list-item {
    width: 100%;
    margin-bottom: 10px;
    display: table;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    padding: 10px 0;
}

.search-view .search-list .list-item .list-item-group-header {
    background: #DEDEDE;
    margin: -10px 0 0 0;
    padding: 10px 0;
}
/*---------------------------------------------------------------------------*/
/* details-view                                                              */
/*---------------------------------------------------------------------------*/
.details-view {
    background: #F2F2F2;
    padding: 15px;

}
.details-view .primary-details {
    background: #FFFFFF;
    margin-bottom: 10px;
    border: 1px solid #DEDEDE;
    padding-bottom:15px;
    
    @media (max-width: #{$small-screen}) {
        text-align:center;
    }
}
.primary-details .stationCheckIns{margin-top: 10px;}
h1{margin-top: 0;}