<section>
    <div class="row dcSection transmission-dispatch-center">
        <div class="large-2 columns">
            <span class="text-subheader">TDC&nbsp;<i class="indicator fi-check hidden"></i></span>
        </div>                        
        <div class="large-10 columns text-body">
            <span class="dispatch-center"></span>&nbsp;
            <span class="dispatch-phone clickablePhoneNumber text-link"></span>
        </div>
    </div>

    <div class="row dcSection distribution-dispatch-center">
        <div class="large-2 columns">
            <span class="text-subheader">DDC&nbsp;<i class="indicator fi-check hidden"></i></span>
        </div>
        <div class="large-10 columns text-body">
            <span class="dispatch-center"></span>&nbsp;
            <span class="dispatch-phone clickablePhoneNumber text-link"></span>
        </div>
    </div>

    <div class="row dcSection noc-dispatch-center hidden">
        <div class="large-2 columns">
            <span class="text-subheader">NOC&nbsp;<i class="indicator fi-check hidden"></i></span>
        </div>
        <div class="large-10 columns text-body">
            <span class="dispatch-center"></span>&nbsp;
            <span class="dispatch-phone clickablePhoneNumber text-link"></span>
        </div>
    </div>

    <div class="row soc-info hidden">
        <div class="large-2 columns">
            <span class="text-subheader">SOC</span>&nbsp;
        </div>
        <div class="large-10 columns text-body">
            <span class="soc-phone clickablePhoneNumber text-link"></span>
        </div>
    </div>
</section>