@charset "UTF-8";

@import "normalize";
@import "foundation";
@import "font-awesome";
@import "app";

html, body {
  height: 100%;
}

.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -40px;
}

.container:after {
  content: "";
  display: block;
}

.footer-view, .container:after {
  height: 40px;
}

.footer-view {
}

.hidden {
  display: none;
}

.shell-view {
  background-color: #F2F2F2;
}

.header-view {
  padding-right: 16px;
  padding-left: 16px;
  background-color: #DEDEDE;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.footer-view {
  padding-right: 16px;
  padding-left: 16px;
  background-color: #DEDEDE;
}

[data-button="tile"] {
  cursor: pointer;
  display: block;
  display: flex;
  flex: 1;
  [data-ignore="tile"] {
    cursor: default;
    cursor: initial;
  }
}

//.form-group-input {
//  position: relative;
//  margin-bottom: 10px !important;
//  padding: 0 8px !important;
//  border: solid 1px #cccccc !important;
//
//  &.invalid {
//    border: solid 1px $palette-red !important;
//  }
//
//  label {
//    display: inline-block !important;
//    margin: 0 !important;
//    padding: 0.625em 0 !important;
//    width: 39% !important;
//  }
//
//  input, select, span.form-input {
//    display: inline-block !important;
//    background: transparent !important;
//    border: 0 none !important;
//    box-shadow: none !important;
//    margin-bottom: 0 !important;
//    padding: 0 !important;
//    width: 55% !important;
//  }
//
//  .clear-form-input {
//    position: absolute !important;
//    margin-left: -10px !important;
//    margin-top: 5px !important;
//  }
//}
//
//.form-group-radio {
//  position: relative;
//  margin-bottom: 10px !important;
//  padding: 0 8px !important;
//
//  &.invalid {
//    border: solid 1px $palette-red !important;
//  }
//}

.panel-collapse {
  .toggle-show {
    display: none;
  }
  .toggle-hide {
    display: inherit;
  }
  &.active {
    .toggle-show {
      display: inherit;
    }
    .toggle-hide {
      display: none;
    }
  }
  &.disabled {
    .toggle-show {
      display: none;
    }
    .toggle-hide {
      display: none;
    }
  }
}