@import "_base.scss";
.hidden {
    display: none; 
}
.header-view {
    padding-right: 16px;
    padding-left: 16px;
    background-color: #DEDEDE; 
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #F2F2F2;
}
.footer-view {
    padding-right: 16px;
    padding-left: 16px;
    background-color: #DEDEDE;    
}

.text-headline {
    margin-top: 0px;
}