@charset "UTF-8";

@import "normalize";
@import "foundation";
@import "font-awesome";
@import "app";

.hidden {
  display: none;
}

.shell-view {
  background-color: #F2F2F2;
}

.header-view {
  padding-right: 16px;
  padding-left: 16px;
  background-color: #DEDEDE;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.footer-view {
  padding-right: 16px;
  padding-left: 16px;
  background-color: #DEDEDE;
}